.advantages {
  @media (min-width: $desktop-width) {
    margin-bottom: 35px;
  }
}

.advantages__wrapper {
  padding: 0 20px 22px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    @include width-wrapper(1300px);
    padding: 0 40px;
  }
}

.advantages__header {
  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 36px;
  line-height: 50px;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin-top: 53px;
    font-size: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 45px;
    font-size: 60px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.advantages__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 245px;
    min-height: 245px;
    margin-bottom: 0;
    margin-right: 75px;
    flex-direction: column;
    align-items: flex-start;

    &--leaf {
      margin-bottom: 70px;
      background-image: url("../img/1.png");
      background-repeat: no-repeat;
      background-position: 130px 0;
    }

    &--powder {
      background-image: url("../img/2.png");
      background-repeat: no-repeat;
      background-position: 100% 0;
    }

    &--dining {
      background-image: url("../img/3.png");
      background-repeat: no-repeat;
      background-position: 100% 0;
    }

    &--clock {
      background-image: url("../img/4.png");
      background-repeat: no-repeat;
      background-position: 100% 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin-right: 0;
    margin-bottom: 0;
  }
}

.advantages__icon {
  width: 60px;
  height: 60px;
  padding: 5px;
  flex-shrink: 0;
  box-sizing: border-box;
  text-align: center;
  background-color: #68b738;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    padding: 15px;
  }
}

.advantages__desc {
  margin: auto;
  margin-left: 20px;
  width: 100%;
  flex-shrink: 1;

  @media (min-width: $tablet-width) {
    margin: 34px 0;
  }
}
