.catalog__wrapper {
  @media (min-width: $tablet-width) {
    padding: 70px 30px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    @include width-wrapper(1300px);
    padding: 70px 40px;
    padding-bottom: 0;
  }
}

.catalog__header {
  h1 {
    margin: 0;
    padding: 0 20px;
    line-height: 60px;

    @media (min-width: $tablet-width) {
      padding: 0;
      font-size: 60px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
  }
}

.catalog__list {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.catalog__item {
  @media (min-width: $tablet-width) {
    margin: 70px 0;
    width: 325px;
    background-color: #f2f2f2;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    margin: 70px 0;
    width: 245px;
  }
}
