.catalog__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    @include width-wrapper(1300px);
    padding: 0 40px;
  }
}

.catalog__title {
  margin-top: 15px;
  margin-bottom: 28px;
  padding: 0 20px;
  line-height: 60px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 75px;
    font-size: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 95px;
  }
}

.catalog__list {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 2px;
  }
}

.catalog__item {
  @media (min-width: $tablet-width) {
    margin-top: 90px;
    margin-bottom: 52px;
    width: 325px;
    background-color: #f2f2f2;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    margin: 70px 0;
    width: 245px;
  }
}
