.contacts__wrapper {
  position: relative;
  background-color: #f2f2f2;
}

.contacts__header {
  margin: 0;
  padding: 28px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding: 45px 70px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    z-index: 2;
    left: 50%;
    margin-left: -610px;
    top: 95px;
    width: 570px;
    height: 200px;
    box-sizing: border-box;
    background-color: #ffffff;
  }

  &--home {
    background-color: #ffffff;
  }
}

.contacts__address {
  margin: 0;
  margin-left: 25px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 197px;
    text-align: right;
  }
}

.contacts__address p {
  @media (min-width: $tablet-width) {
    line-height: 22px;
  }
}

.contacts__title {
  margin: 0;
  font-weight: normal;
  color: #000000;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 155px;
    font-size: 20px;
    line-height: 25px;
  }
}

.contacts__map {
  width: 100%;
  height: 360px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/bg-map-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/bg-map-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }
}

.contacts__footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 60px 30px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    @include width-wrapper(1300px);
    padding: 60px 40px;
  }
}

.contacts__logo {
  display: block;
  width: 130px;
  padding: 20px 0 30px;
  line-height: 0;

  @media (min-width: $tablet-width) {
    width: 160px;
    padding: 0;
  }
}

.contacts__logo img {
  width: 130px;
}

.contacts__social {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 320px;
  }
}

.contacts__copyright {
  width: 100%;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    width: 160px;
    padding-top: 0;
  }
}
