.contacts__wrapper {
  position: relative;
  background-color: #f2f2f2;
}

.contacts__header {
  margin: 0;
  padding: 28px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding: 48px 70px 40px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    padding: 45px 77px 40px;
    z-index: 2;
    left: 50%;
    margin-left: -610px;
    top: 95px;
    width: 570px;
    height: 200px;
    box-sizing: border-box;
    background-color: #ffffff;
  }

  &--home {
    background-color: #ffffff;
  }
}

.contacts__address {
  margin: 0;
  margin-left: 30px;

  @media (min-width: $tablet-width) {
    width: 197px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-left: 105px;
  }
}

.contacts__address p {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin: 16px 0;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 10px;
  }
}

.contacts__title {
  margin: 0;
  font-weight: normal;
  color: #000000;
  line-height: 20px;
  text-transform: uppercase;
  width: 175px;

  @media (min-width: $tablet-width) {
    width: 175px;
    font-size: 20px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 15px;
    margin-bottom: 20px;
  }
}

.contacts__map {
  width: 100%;
  height: 360px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    height: 400px;
    background-image: url("../img/bg-map-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/bg-map-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }
}

.contacts__map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.contacts__footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 56px 30px 50px;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
  }

  @media (min-width: $desktop-width) {
    @include width-wrapper(1300px);
    padding: 58px 40px 58px;
    height: 100%;
  }
}

.contacts__logo {
  display: block;
  width: 130px;
  padding: 20px 0 24px;

  @media (min-width: $tablet-width) {
    width: 150px;
    padding: 0;
  }
}

.contacts__logo img {
  width: 130px;
}

.contacts__social {
  width: 100%;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    width: 350px;
    align-self: flex-start;
    flex-grow: 1;
    border-top: none;
    border-bottom: none;
  }
}

.contacts__copyright {
  width: 100%;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    width: 160px;
    padding-top: 0;
    align-self: flex-end;
  }
}
