.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #444444;
  font-size: 16px;
  line-height: 0;
}

.copyright__wrapper a {
  text-decoration: none;
  color: #444444;
  font-size: 16px;
  line-height: 0;
}
