.extra {
  position: relative;
  padding: 0;
  margin-bottom: 35px;

  &::before {
    position: absolute;
    right: 0;
    top: 42px;
    content: "";
    width: 54px;
    height: 3px;
    background-color: #68b738;

    @media (min-width: $tablet-width) {
      top: 23px;
      width: 100%;
    }

    @media (min-width: $desktop-width) {
      top: 92px;
      width: 100%;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }
}

.extra__item {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.extra__wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    @include width-wrapper(1300px);
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.extra__list {
  @media (min-width: $desktop-width) {
    flex-grow: 1;
    margin-right: 40px;
  }
}

.extra__header {
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    @include width-wrapper(1300px);
  }
}

.extra__title {
  position: relative;
  margin-top: 28px;
  margin-bottom: 34px;
  padding: 0 20px;
  display: inline-block;
  font-weight: normal;
  font-size: 24px;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
    padding:0 36px;
    font-size: 36px;
    line-height: 36px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 40px;
  }
}

.extra__gift {
  margin-top: 55px;

  @media (min-width: $tablet-width) {
    margin-top: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}
