.first-screen {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 20px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    margin-top: -188px;
    margin-bottom: 75px;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-position: right 0;
    background-size: 47% auto;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }
}

.first-screen__wrapper {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  min-height: 477px;
  margin: 0 auto;
  padding: 3px 20px;
  text-align: center;
  background-image: url("../img/index-can-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 166px;
  background-size: auto 270px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-can-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    text-align: left;
    padding: 0 30px;
    min-height: 835px;
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-position: 30px 100%;
    background-size: auto 610px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-can-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    @include width-wrapper(1300px);
    padding-top: 197px;
    padding-left: 40px;
    padding-right: 40px;
    min-height: 700px;
    background-image: url("../img/index-can-desktop@1x.png");
    background-position: 490px 140px;
    background-size: auto 500px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-can-desktop@2x.png");
    }
  }
}

.first-screen__header {
  height: 310px;
  z-index: 2;

  @media (min-width: $tablet-width) {
    height: auto;
    width: 430px;
    margin-left: 88px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.first-screen__title {
  color: #ffffff;

  @media (min-width: $tablet-width) {
    margin-top: 24px;
    color: #111111;
  }
}

.first-screen__slogan {
  font-family: "Oswaldregular", "Arial", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: #111111;
  }
}

.first-screen__img {
  margin-top: -173px;
  height: 275px;
  background-image: url("../img/index-can-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 270px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-can-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    order: 2;
    margin-top: -75px;
    height: 610px;
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-size: auto 610px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-can-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: -330px;
    background-image: url("../img/index-can-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-can-desktop@2x.png");
    }
  }
}
