.main-nav {
  width: auto;
}

.main-nav__wrapper {
  margin: 0 20px;
  text-align: center;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
  }

}
