.main-nav {
  width: auto;
}

.main-nav__wrapper {
  text-align: center;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .main-nav {
    margin: 0;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav {
    &--closed {
      display: none;
    }
  }
}
