.main-nav {
  width: auto;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    margin: 0;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav {
    &--closed {
      display: none;
    }
  }
}
