.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  width: auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
  }
}
