.product-card-small {
  border: none;

  &:last-child .product-card-small__inner {
    border-bottom: 1px solid #cdcdcd;
  }
}

.product-card-small__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid #cdcdcd;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 12px 36px 27px;
    flex-direction: row;
    border: 1px solid #cdcdcd;
    border-bottom: none;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 0;
    height: 40px;
    border-left: 0;
    border-right: 0;
  }
}

.product-card-small__title {
  margin: 12px 0;
  display: block;
  width: 100%;
  font-family: "Oswaldregular", "Arial", sans-serif;
  color: #222222;
  font-size: 16px;
  text-transform: uppercase;
  text-align: left;

  @media (min-width: $tablet-width) {
    margin-bottom: 27px;
    width: 300px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }
}

.product-card-small__features {
  border-spacing: 0;
  margin-top: 0;
  margin-bottom: 15px;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 50%;
    text-align: right;

    td {
      padding: 10px 0;
      border-bottom: none;
      border-collapse: collapse;

      @media (min-width: $tablet-width) {
        padding: 0;
        padding-bottom: 5px;
      }
    }

    .features__value {
      width: 95px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 10px;
    margin-top: 14px;
    width: 285px;
    flex-grow: 0;
    text-align: left;
  }
}

.product-card-small__btn {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 16px;

  @media (min-width: $desktop-width) {
    margin-left: 20px;
    padding: 10px;
    width: 245px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    width: 225px;
  }
}
