.product-card {
  padding: 0 20px 25px;
  border: 1px solid #ededed;
  border-bottom: none;

  @media (min-width: $tablet-width) {
    padding: 0 40px 40px;
    border: none;
  }
}

.product-card__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
}

.product-card__img {
  position: relative;
  height: 140px;
  width: 140px;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    height: 140px;
    width: 325px;
  }
}

.product-card__photo {
  &--big {
    @media (min-width: $tablet-width) {
      display: block;
      position: absolute;
      height: 205px;
      width: 100%;
      top: -80px;
    }
  }

  &--small {
    @media (min-width: $tablet-width) {
      display: block;
      position: absolute;
      height: 170px;
      width: 100%;
      top: -45px;
    }
  }
}

.product-card__link {
  display: block;
}

.product-card__info {
  margin-top: 21px;
  width: 140px;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    margin-top: 22px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.product-card__title {
  margin: 0;
  display: block;
  width: 80px;
  font-family: "Oswaldmedium", "Arial", sans-serif;
  line-height: 20px;
  font-size: 16px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  text-align: left;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 160px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
}

.product-card__features {
  margin-top: 13px;
  width: 100%;
  border-spacing: 0;
  font-size: 12px;

  @media (min-width: $tablet-width) {
    margin-top: 18px;
    font-size: 16px;
  }
}

.features__field {
  @media (min-width: $tablet-width) {
    padding-top: 9px;
    padding-bottom: 9px;
    border-bottom: 1px solid #cdcdcd;
    border-collapse: collapse;
  }
}

.features__value {
  @media (min-width: $tablet-width) {
    padding-top: 9px;
    padding-bottom: 9px;
    border-bottom: 1px solid #cdcdcd;
    border-collapse: collapse;
  }
}

.product-card__btn {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 16px;
}
