.program-icon {
  position: relative;
  width: 52px;
  height: 50px;
  border-radius: 50%;
  background: #68b738;

  &--slim svg {
    position: relative;
    top: -2px;
    left: 2px;
    width: 51px;
    height: 51px;
  }

  &--slim polygon {
    fill: #000000;
  }

  &--pro svg {
    position: relative;
    top: 11px;
    left: -8px;
    width: 68px;
    height: auto;
  }

  &--pro polygon {
    fill: #000000;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 200px;
    height: 200px;
    right: 55px;
    margin-top: 85px;

    &--slim svg {
      position: relative;
      top: -10px;
      left: 29px;
      width: auto;
      height: 192px;
    }

    &--slim polygon {
      fill: #000000;
    }

    &--pro svg {
      position: relative;
      top: 43px;
      left: -36px;
      width: 270px;
      height: auto;
    }

    &--pro polygon {
      fill: #000000;
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;
    margin-top: 10px;
    margin-left: 55px;
    width: 100px;
    height: 100px;

    &--slim svg {
      position: relative;
      top: -10px;
      left: 0;
      width: auto;
      height: 110px;
    }

    &--slim polygon {
      fill: #000000;
    }

    &--pro svg {
      position: relative;
      top: 20px;
      left: -20px;
      width: 140px;
      height: auto;
    }

    &--pro polygon {
      fill: #000000;
    }
  }
}
