.program__wrapper {
  margin: 20px;
}

.program__item {
  padding: 20px;
  margin: 20px 0;
  background-color: #f2f2f2;
}

@media (min-width: $desktop-width) {
  .program__wrapper {
    display: flex;
  }

  .program__item {
    margin: 20px;
  }
}
