.program__wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    @include width-wrapper(1300px);
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
  }
}

.program__item {
  position: relative;
  margin-bottom: 20px;
  padding: 0 20px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    padding: 0 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 570px;
    box-sizing: border-box;
  }
}

.program__info {
  @media (min-width: $desktop-width) {
    width: auto;
    margin-right: 0;
  }
}

.program__header {
  padding-top: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-top: 45px;
    margin-bottom: 0;
    padding-top: 0;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-top: 25px;
    text-align: center;
  }
}

.program__title {
  position: relative;
  margin-left: 20px;
  flex-grow: 1;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
  line-height: 37px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    font-size: 36px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 7px;
    padding: 20px 0;
  }
}

.program__header-icon {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.program__desc {
  margin: 0;
  padding-bottom: 22px;
  position: relative;

  &::after {
    content: "";

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 1px;

    background: #d9d9d9;

    @media (min-width: $tablet-width) {
      height: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
    padding-bottom: 15px;
  }

  &--slim {
    @media (min-width: $tablet-width) {
      width: 375px;
    }

    @media (min-width: $desktop-width) {
      width: 465px;
    }
  }

  &--pro {
    @media (min-width: $tablet-width) {
      width: 340px;
    }

    @media (min-width: $desktop-width) {
      width: 465px;
    }
  }
}

.program__footer {
  padding-top: 5px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.program__btn {
  position: relative;
  display: block;
}

.program__btn-icon {
  position: absolute;
  top: 14px;
  margin-left: 11px;
  width: 24px;
  height: 16px;
  opacity: 0.8;

  polygon {
    fill: #000000;
  }

  @media (min-width: $tablet-width) {
    top: 16px;
    margin-left: 24px;
  }
}

.program__icon {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-right: 5px;
    top: 5px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
