.site-list {
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-end;

    &--home a {
      color: #ffffff;
    }
  }
}

.site-list__item {
  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $tablet-width) {
    margin-right: 33px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.site-list__link {
  position: relative;
  display: block;
  padding: 25px 0;
  font-size: 18px;
  font-family: "Oswaldregular", "Arial", sans-serif;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  color: #111111;

  &:hover {
    opacity: 0.6;
  }

  @media (min-width: $desktop-width) {
    padding: 20px 0;
    font-size: 20px;
    line-height: 24px;
  }

  &--active::after {
    @media (min-width: $tablet-width) {
      position: absolute;
      left: 0;
      bottom: 14px;
      content: "";
      width: 100%;
      height: 2px;
      background-color: #68b738;
    }
  }
}

.site-list--home .site-list__link--active::after {
  @media (min-width: $desktop-width) {
    position: absolute;
    left: 0;
    bottom: 7px;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }
}
