.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    height: 340px;
    margin-top: 230px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 70px;
    height: 270px;
  }
}

.slider__item {
  text-align: center;

  &--after {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      position: absolute;
      top: -170px;
      width: 100%;
      text-align: center;
    }

    @media (min-width: $desktop-width) {
      position: relative;
      top: -190px;
    }
  }

  @media (min-width: $tablet-width) {
    &--before {
      display: none;
    }
  }
}

.slider__img {
  height: 240px;
  width: auto;

  @media (min-width: $tablet-width) {
    width: auto;
    height: 510px;
  }

  @media (min-width: $desktop-width) {
    height: 520px;
  }
}

.slider__control {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    @include width-wrapper(570px);
  }
  @media (min-width: $tablet-width) {
    margin: 0;
    width: 565px;
  }
}

.slider__switch {
  width: 80px;
  padding: 2px 22px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.slider__input-switch[type="checkbox"] {
  display: none;
}

.slider__switch-lable {
  cursor: pointer;
  height: 0;
  position: relative;
  width: 40px;
}

.slider__switch-lable::before {
  content: "";
  margin-top: 0;
  width: 86px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 8px;
  transition: all 0.4s ease-in-out;
}

.slider__switch-lable::after {
  content: "";
  position: absolute;
  width: 34px;
  height: 6px;
  left: 8px;
  top: 4px;
  background: #68b738;
  border-radius: 16px;
  transition: all 0.3s ease-in-out;
}

.slider__input-switch:checked ~ label::after {
  left: 45px;
}

.slider__text {
  font-family: "Oswaldregular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    border-bottom: 1px dashed #b8b8b8;
    padding-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    line-height: 25px;
  }
}

.slider__range {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 100%;
    padding: 0 25px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 20px;
  }
}

.slider__input-range {
  appearance: none;
  height: 6px;
  background-color: #dcdcdc;
  width: 100%;
  border-radius: 5px;

  &:focus {
    outline: none;
  }
}

.slider__input-range::-webkit-slider-thumb {
  appearance: none;
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #dcdcdc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

  &:active {
    width: 24px;
    height: 24px;
  }
}
