.social__list {
  margin: 0 auto;
  padding: 22px 0;
  width: 124px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: 0;
  }
}

.social__link {
  display: block;
  background-repeat: no-repeat;
  background-position: center;

  &--vk {
    width: 22px;
    height: 12px;
    background-image: url("../img/icon-vk-mobile.svg");

    @media (min-width: $tablet-width) {
      width: 30px;
      height: 18px;
      background-image: url("../img/icon-vk.svg");
    }
  }

  &--insta {
    width: 16px;
    height: 16px;
    background-image: url("../img/icon-insta-mobile.svg");

    @media (min-width: $tablet-width) {
      width: 25px;
      height: 25px;
      background-image: url("../img/icon-insta.svg");
    }
  }

  &--fb {
    width: 10px;
    height: 20px;
    background-image: url("../img/icon-fb-mobile.svg");

    @media (min-width: $tablet-width) {
      width: 15px;
      height: 30px;
      background-image: url("../img/icon-fb.svg");
    }
  }
}
