.social__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.social__item {
  padding: 22px 18px;
}

.social__link {
  display: block;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;

  &--vk {
    background-image: url("../img/icon-vk-mobile.svg");
  }

  &--insta {
    background-image: url("../img/icon-insta-mobile.svg");
  }

  &--fb {
    background-image: url("../img/icon-fb-mobile.svg");
  }
}
