.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    flex-wrap: nowrap;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 470px;
  }
}

.stats__value {
  position: relative;
  width: 123px;
  height: 55px;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
    width: 160px;
    height: 65px;
    justify-content: flex-start;
  }

  @media (min-width: $tablet-width) {
    margin-right: 45px;
    height: 68px;
  }
}

.stats__text {
  position: absolute;
  width: 80px;
  left: 50%;
  margin-left: -40px;
  bottom: -15px;
  font-size: 12px;
  line-height: 12px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    width: 140px;
    margin-left: -70px;
    bottom: -7px;
    font-size: 14px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    bottom: -5px;
    background-color: #f2f2f2;
  }
}

.stats__title {
  position: relative;
  display: block;
  padding-top: 15px;
  font-family: "Oswaldregular", "Arial", sans-serif;
  line-height: 24px;
  font-size: 24px;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    font-size: 30px;
    line-height: 37px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 13px;
  }
}

.stats__legend {
  margin-top: 35px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: "Oswaldregular", "Arial", sans-serif;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-left: auto;
    width: 195px;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    margin-top: 55px;
    margin-left: 0;
    width: 325px;
    text-align: left;
    display: flex;
    justify-content: space-between;
  }
}
