body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 36px;
  font-family: "Oswaldregular", "Arial", sans-serif;
  font-weight: normal;
}

h2 {
  font-size: 24px;
  font-family: "Oswaldregular", "Arial", sans-serif;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
