body {
  margin: 0;
  padding: 0;
  color: #444444;
  font-family: Arial, Oswaldregular, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
h1{
  font-size: 36px;
  font-family: Oswaldregular, Arial, sans-serif;
}
h2{
  font-size: 24px;
  font-family: Oswaldregular, Arial, sans-serif;
}


@font-face {
  font-family: Oswaldregular;
  src: url(../fonts/oswaldregular.woff) format('woff');
  src: url(../fonts/oswaldregular.woff2) format('woff2');
}
@font-face {
  font-family: Oswaldmedium;
  src: url(../fonts/oswaldmeduim.woff) format('woff');
  src: url(../fonts/oswaldmeduim.woff2) format('woff2');
}

@import "page-header/page-header.scss";
@import "main-nav/main-nav.scss";
@import "site-list/site-list.scss";
@import "page-main/page-main.scss";
@import "page-header/page-header.scss";
@import "first-screen/first-screen.scss";
@import "program/program.scss";
@import "link/link.scss";
@import "advantages/advantages.scss";
@import "example/example.scss";
@import "stats/stats.scss";
@import "slider/slider.scss";
@import "page-footer/page-footer.scss";
@import "contacts/contacts.scss";
@import "social/social.scss";
@import "copyright/copyright.scss";
@import "nutrition-program/nutrition-program.scss";
@import "form/form.scss";
@import "row/row.scss";
@import "label/label.scss";
@import "input/input.scss";
@import "button/button.scss";
@import "catalog/catalog.scss";
@import "product-card/product-card.scss";
@import "features/features.scss";
@import "product-card-all/product-card-all.scss";
@import "extra/extra.scss";
@import "product-card-small/product-card-small.scss";
@import "gift/gift.scss";
