.first-screen{
  background-image: url('../img/index-background-mobile@1x.jpg');
  .first-screen__wrapper{
    margin: 20px;
  }
  .first-screen__title,
  .first-screen__slogan{
    color: #ffffff;
    margin: 20px;
  }
}
